* { 
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Merriweather', serif;
}

.players {
	width: 750px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.player-item {
	flex-basis: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player-item__image, .player-item__name {
	margin-bottom: 10px;
}

.player-item__name {
	font-weight: bold;
}